<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/">Início</a>
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href="/login">Entrar</a>    
  </div>
</nav>

<br>
<br>

<div class="content">
  <form action="/allreports/{{report.category}}" method="post"> 
    <label>
      <select name="category" value="" class="form-control">
        <option value="">Selecione uma categoria</option>
        <option value="Rede de Água">Rede de Água</option>
        <option value="Rede de Esgoto">Rede de Esgoto</option>
        <option value="Rede Elétrica">Rede Elétrica</option>
        <option value="Iluminação da via">Iluminação da via</option>
        <option value="Calçadas">Calçadas</option>
        <option value="Via pública">Via pública</option>
        <option value="Pessoas">Pessoas</option>
        <option value="Outros">Outros</option>
      </select>
    </label>
    <button type="submit" class="btn btn-md btn-dark">Buscar</button>
  </form> 
  <hr>

  <div class="row align-items-center">
    {{#each reports}}      
      <div class="col-12 col-md-6 col-lg-4">
        <a href="/details/{{_id}}" class="btn btn-block btn-dark" role="button">
          <strong>Tipo:</strong> {{this.category}}<br>
          <strong>Local:</strong> {{address.street}}<br>
        </a><br>
      </div>
    {{/each}}
  </div>
</div>