<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/allreports">Início</a>
    <a class="nav-item nav-link" href="/new-report">Reportar</a>
    {{!--<a class="nav-item nav-link" href="/dashboard">Editar</a> --}}
    <a class="nav-item nav-link" href="/logout">Sair</a>    
  </div>
</nav><br>

<div>
{{> reports}}
</div>