<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/allreports">Início</a>
    <a class="nav-item nav-link" href="/new-report">Reportar</a>
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href="/logout">Sair</a>    
  </div>
</nav>

<br>
<div class="content container">
  <p>Estas são suas contribuições:</p>
  <div class="row align-items-center">
    {{#each reports}}      
      <div class="col-12 col-md-6 col-lg-4">
        <a href="/details/{{_id}}" class="btn btn-block btn-dark" role="button" data-toggle="modal" data-target="#exampleModalCenter">
          <strong>Tipo:</strong> {{this.category}}<br>
          <strong>Local:</strong> {{location.street}}<br>
        </a><br>
      </div>
    {{/each}}
  </div>
</div>



<!-- Button trigger modal -->
{{!-- <button type="button" class="btn btn-block btn-dark" role="button" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> --}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  