<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/allreports">Postagens</a>
    <a class="nav-item nav-link" href="/login">Entrar</a>
    <a class="nav-item nav-link" href="/signup">Registrar</a>
  </div>
</nav>

<br>

<div class="body-layout">
  <div class="content">
    <h1>Seja bem-vindo!</h1>
    <p>
      O Help My City é uma plataforma onde você pode documentar os problemas de sua cidade, através de um jeito simples e eficaz.
      Cada registro entrará para nossa base de dados e será enviado para as autoridades responsáveis.
      Veja abaixo um mapa com os registros de nossa comunidade:
    </p>
    <img src="https://i.pinimg.com/564x/97/85/a9/9785a9d2df742c547ffadeca38db55bb.jpg" class="mw-100">
    {{!-- <p>mapa</p>
    <div id="map"></div> --}}

  </div>
</div>
  
  
  