<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/allreports">Postagens</a>
    <a class="nav-item nav-link" href="/login">Entrar</a>
    <a class="nav-item nav-link" href="/signup">Registrar</a>
  </div>
</nav> <br>
<h1>Index bonitinha</h1>