<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/">Início</a>
    <a class="nav-item nav-link" href="/new-report">Postagens</a>
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href="/signup">Cadastre-se</a>    
  </div>
</nav>

<br>
<br>
<br>

<div class="body-layout">
  <div class="divForm btn-secondary">
    <p align="center" class="col-form-label"><strong>Entrar</strong></p>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="staticEmail" class="col-form-label"><strong>E-mail</strong></label>
        <input type="text" class="form-control" id="staticEmail" placeholder="email@exemplo.com" name="email"><br>
        
        <label for="inputPassword" class="col-form-label"><strong>Senha</strong></label>
        <input type="password" class="form-control" id="inputPassword" placeholder="*****" name="password">
      </div>
      
      <button type="submit" class="btn btn-sm btn-block btn-dark">Confirmar identidade</button>
    </form>
  </div>
</div> 
