<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/allreports">Início</a>
    <a class="nav-item nav-link" href="/signup">Cadastrar</a>
    {{!-- <a class="nav-item nav-link" href="/dashboard">Editar</a> --}}
    {{!-- <a class="nav-item nav-link" href="/logout">Sair</a>     --}}
  </div>
</nav><br>

<div class="body-layout">
  <div class="divForm">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="staticEmail" class="col-form-label"><strong>E-mail</strong></label><br>
        <div class="">
          <input type="text" class="form-control" id="staticEmail" placeholder="email@exemplo.com" name="email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-form-label"><strong>Senha</strong></label><br>
        <div class="">
          <input type="password" class="form-control" id="inputPassword" placeholder="Senha" name="password">
        </div>
      </div>
      <div align="center"></div>
      <button type="submit" class="btn center btn-dark" align="center">Confirmar identidade</button>
  </div>
  </form> 
</div> 
