<h1>Novo problema</h1>

<form action="/new-report" method="post" enctype="multipart/form-data">
  <label>Tipo:
    <input type="text" name="type"><br>
  </label>

  <h3>Endereço: </h3>
  <label>Rua:
    <input type="text" name="street"><br>
  </label>

  <label>Número:
    <input type="text" name="number"><br>
  </label>

  <label>Cidade:
    <input type="text" name="city"><br>
  </label>

  <label>Descrição:
    <input type="text" name="description"><br>
  </label>

  <label>Foto:
    <input type="file" name="picture">
  </label>

  <button type="submit">Registrar</button>
</form>