<h1>Novo problema</h1>

<form action="/new-report" method="post" enctype="multipart/form-data">
  <label>Tipo:
    <input type="text" name="type" value=""><br>
  </label>

  <h3>Endereço: </h3>
  <label>Rua:
    <input type="text" name="street" value=""><br>
  </label>

  <label>Número:
    <input type="text" name="number" value=""><br>
  </label>

  <label>Cidade:
    <input type="text" name="city" value=""><br>
  </label>

  <label>Descrição:
    <input type="text" name="description" value=""><br>
  </label>

  <label>Foto: </label>
  <input type="file" name="picture">

  <button type="submit">Registrar</button>
</form>