<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/allreports">Início</a>
    {{!-- <a class="nav-item nav-link" href="/new-report">Reportar</a> --}}
    <a class="nav-item nav-link" href="/login">Entrar</a>    
  </div>
</nav><br>

<h1>Signup PAGE</h1>

<form action="/signup" method="post">
  <label for="">Nome: </label>
  <input type="text" name="name" placeholder="Insira seu nome"><br>

  <label for="">E-mail: </label>
  <input type="email" name="email" placeholder="Insira seu e-mail"><br>

  <label for="">Senha: </label>
  <input type="password" name="password" placeholder="Insira sua senha"><br>

  {{#if message}}
  <hr>
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
  
  <button type="submit">Registrar</button>
</form>