<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/">Início</a>
    <a class="nav-item nav-link" href="/allreports">Postagens</a>
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href="/login">Entrar</a>    
  </div>
</nav>

<br>
<br>
<br>

<div class="body-layout">
  <div class="divForm btn-secondary">
    <p align="center" class="col-form-label"><strong>Cadastro</strong></p>
    <form action="/signup" method="post">
      <div class="form-group">
        <label for="" class="col-form-label"><strong>Nome:</strong></label>
        <input type="text" name="name" class="form-control" placeholder="Insira seu nome"><br>

        <label for="" class="col-form-label"><strong>E-mail:</strong></label>
        <input type="email" name="email" class="form-control" placeholder="Insira seu e-mail"><br>

        <label for="" class="col-form-label"><strong>Senha:</strong></label>
        <input type="password" name="password" class="form-control" placeholder="Insira sua senha"><br>

        {{#if message}}
        <hr>
        <div class="error-message">{{ message }}</div>
        {{/if}}
      
        <button type="submit" class="btn btn-sm btn-block btn-dark">Registrar</button>
      </div>
    </form>
  </div>
</div>