<form action="/auth/signup" method="post">
  <label for="">Nome: 
    <input type="text" name="name"><br>
  </label>

  <label for="">E-mail: 
   <input type="email" name="email"><br>
  </label>

  <label for="">Senha: 
    <input type="password" name="password"><br>
  </label>

  <button type="submit">Registrar</button>
</form>