* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-size: calc(14px + (22 - 14) * ((100vw - 400px) / (1600 - 300)));
    line-height: calc(1.3em + (1.4 - 1.0) * ((100vw - 400px)/(1600 - 300)));
    }

body{
    background-color: #f5f6f8;
    text-align: justify;
}

h2{
    font-size: calc(18px + (36 - 18) * ((100vw - 400px) / (1600 - 300)));
    line-height: calc(1.3em + (1.4 - 1.0) * ((100vw - 400px)/(1600 - 300)));  
}

img{
    align-items: center;
    max-width: 600px;
}
.map{
    max-height: 80vh;
    margin: auto;
}
.form{
    max-width: 500px;
    padding: 5px 10px;
    margin: 10px;
}
.content{
    padding: 10px;  
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 6px;
}

.divForm{
    padding: 10px;  
    color:#343a40 ;
    height: auto;
    max-width: 300px;
    margin: auto;
    border-radius: 6px;
};
